@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

html {
    font-family: 'Zen Kurenaido', sans-serif;
}

#title {
    text-align: center;
}

#font-credit {
    text-align: center;
}

#ghpage-credit {
    text-align: center;
}